*~
/*-[0-9][0-9].xml
archive.json
draft-ietf-openpgp-pqc.xml
draft-wussler-pqc-openpgp.xml
Gemfile.lock
/.gems/
*.html
/lib
lib
/node_modules/
package-lock.json
*.pdf
*.redxml
.refcache
/.refcache
report.xml
*.swp
.tags
.targets.mk
/.targets.mk
*.txt
*.upload
/.venv/
venv/
/versioned/
/.vscode/
!requirements.txt
